<div class="container mx-auto px-4">
  <h1 class="text-3xl font-semibold mb-4">
    <%= @author.name %> <%= @author.surname %> Books
  </h1>

  <table class="min-w-full">
    <thead>
      <tr>
        <th class="px-4 py-2">Title</th>
        <th class="px-4 py-2">Description</th>
        <th class="px-4 py-2" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td class="border px-4 py-2"><%= book.title %></td>
          <td class="border px-4 py-2"><%= book.description %></td>
          <td class="border px-4 py-2"><%= link_to 'Show', book, class: 'text-blue-500' %></td>
          <td class="border px-4 py-2"><%= link_to 'Edit', edit_book_path(book), class: 'text-green-500' %></td>
          <td class="border px-4 py-2">
            <%= button_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-4">
    <%= link_to 'New Book', new_author_book_path(@author), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <%= link_to 'Back to Authors', authors_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2' %>
  </div>
</div>
